#image{
    position: absolute;
   left: 0px;
    height: 100%;
    width: 40%;
    display: inline-flex;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
#maker{
  position: absolute;
    display: block;
    width: 60%;
    height: 100%;
    right: 0%;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    cursor: pointer;
}
#name{
    position: absolute;
    left:30%;
    top: 2%;
}
#demo{
    position: absolute;
    color: white;
    top: 20%;
    left: 2%;
    font-size: 2em;
}